<hr>
<div class="container">
<h1>Create your individual Path!</h1>
<br>
  <%= simple_form_for [@user, @path] do |f| %>
    <%= f.input :title, label: 'Please enter your a Title for your new Path' %>
    <%= f.submit "Create path", class: "btn btn-primary" %>
  <% end %>

</div>
