// Define variables for your color scheme

// For example:
$red: #FD1015;
$light-red: #f95456;

$blue: #0e2259; // Nerdchimp Dark Blue
$light-blue: #3fdeee;
$white-blue: #d5f2fd;

$yellow: #FFC65A;
$orange: #f9d233; // Nerdchimp Orange

$green: #1EDD88;
$lime-green: #52eba0;

$gray: #0E0000;
$light-gray: #F2F2F2;
$lighter-gray: #F8F8F8;

$purple: #ac66b4;
$black: #2a2a2a;
