.banner {
  background-size: cover;
  height: 160px;
  background-color: #F9D233;
  position: relative;
}

.banner-container {
  padding-left: 135px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
  position: absolute;
}

.banner-bubbles {
  float: right;
}

.searchbanner {
  background-color: white;
  height: 135px;
  padding-top: 25px;
  padding-bottom: 25px;
  position: sticky;
  top: 0;
}

.cards {
  display: grid;
  grid-gap: 30px;
  padding-top: 20px;
}

.card-category {
  border: solid 1px black;
  padding: 20px;
  height: 180px;
  width: auto;
  overflow: hidden;
}

.scrolling-box {
  display: block;
  scroll-behavior: smooth;
  padding-top: 30px;
}

.card-items {
  display: flex;
  color: #0E2259;
  text-align: left;
  height: 85px;
  justify-content: space-between;
}

.card-item-via {
  font-size: 0.8rem;
}

.card-item-provider {
  font-size: 0.9rem;
}

.card-item-duration {
  color: #3FDEEE;
}

// Media:

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
