.profile {
  padding-top: 1rem;
  padding-bottom: 1.5rem;

  .nametag {
    margin-left: 1.9rem;
    .fa-pen {
      padding-top: 0.625rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .fa-copy {
      padding-top: 0.7rem;
    }
    span {
      margin-left: 0.5rem;
      padding-top: 0.5rem;
    }
  }
  img {
    // padding-bottom: 7px;  // Caused some warping of the image avatar in Profile header.
    margin-right: 4px;
  }
}

.dropdown-menu.show {
  padding: 0 10px;
  width: 100%;
  padding-bottom: 10px;
}
.toggle {
  background-color: $light-gray;
  #pills-tab {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #add-course {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.toggle-content {
  background-color: $lighter-gray;
}
