.profile-edit-picture {
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin-right: 20px;
}
.submit-button-style{
height: 38px;
padding: 3px 10px;
}
.edit-profile {

}
#user_photo {
  display: none;
}

.dropdown-menu {
  padding-top: 10px !important;
}

.dropdown-item {
  color: $blue;
  padding-left: 4px !important;
}
