<h2>Add your Url</h2>
<%= simple_form_for [@user, @usercourse] do |f| %>
<%= f.input :user_url %>
<%= f.submit 'Check in courses', class: 'btn btn-primary' %>
<% end %>























<!-- <p>
<%#= simple_form_for [@user, @usercourse] do |f| %>
<%#= f.association :course %>
<%#= f.submit 'Add course', class: 'btn btn-primary' %>
<%# end %>
</p>
 -->
