<h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p>

<div class="container">
<% @courses.each do |course| %>
  <h4><%= link_to course.title, course_path(course) %></h4>
  <% if user_signed_in? %>
  <h4><%= button_to "Add to my library", user_user_courses_path(current_user) %></h4>
  <% end %>
<% end %>
</div>


<!-- To do button_to "Add to your library", user_course_path(@course) -->

