.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $light-blue;
}


.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 0.8;
  color: white;
}

.btn-wide {
  padding: 12px 100px;
  font-size: 20px;
}

.btn-nav {

  &:hover {
    color: $light-red;
  }
}
