// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "progress";
@import "button";
@import "path_card";
@import "bubbles";
@import "footer";

// global setting for ghosting effects for Sortable.js items
.sortable-ghost {
  color: transparent !important;
  background: transparent !important;
  border: 1px dashed gray !important;

  .library-item-duration {
    color: transparent;
  }

  a {
    color: transparent;
  }
}
