// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "progress";
@import "path_edit";
@import "button";

.cards {
  display: grid;
  grid-gap: 16px;
  padding-top: 20px;
}

.card-category {
  border: solid 1px black;
  padding: 20px;
  height: 200px;
}

.scrolling-box {
  display: block;
  scroll-behavior: smooth;
  text-align: center;
  padding-top: 20px;
}

.searchcontainer {
  position: sticky;
  top: 0;
  background: #f4f4f4;
}

// global setting for ghosting effects for Sortable.js items
.sortable-ghost {
  color: transparent !important;
  background: transparent !important;
  border: 1px dashed gray !important;

  .library-item-duration {
    color: transparent;
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
