#container {
  /* This will come into play later */
  perspective: 10px;
}

#inner {
  position: relative;
  text-align: center;
  transition: transform 3s;
  padding: 200px 200px;

}

#c-1 {
  position: absolute;
  top: 6%;
  left: 6%;
}

#c-2 {
  position: absolute;
  top: 50%;
  left: 17%;
}

#c-3 {
  position: absolute;
  top: 15%;
  left: 28%;
}

#c-4 {
  position: absolute;
  top: 50%;
  left: 38%;
}

#c-5 {
  position: absolute;
  top: 8%;
  left: 48%;
}

#c-6 {
  position: absolute;
  top: 48%;
  left: 59%;
}

#c-7 {
  position: absolute;
  top: 20%;
  left: 69%;
}

#c-8 {
  position: absolute;
  top: 57%;
  right: 1%;
}

#c-9 {
  position: absolute;
  top: 2%;
  right: 4%;
}
